
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>訂單管理系統首頁</title>
</head>
<body>
    <div>
        @ViewBag.CustId
        @ViewBag.CustName
    </div>
</body>
</html>
